---
layout: /layouts/base.njk
---
<div class="page-content">

  {% if header_image.file %}
    <div class="page-image-container">
      <div class="container">
        {% srcset header_image.file, header_image.alt, "post__image", 640, 360, "(min-width: 960px) 852px, 90vw", header_image.crop %}
      </div>
    </div>
  {% endif %}

  <div class="page-body container container__narrow">
    {{ content | safe }}
  </div>

  {% if footer_image.file %}
    <div class="page-footer container">
      {% srcset footer_image.file, footer_image.alt, "post__image", 640, 360, "(min-width: 960px) 852px, 90vw", footer_image.crop %}
    </div>
  {% endif %}
</div>