---
layout: /layouts/base.njk
---

<div class="page-content">


  <div class="page-image-container">
    <div class="container">
      {% srcset project.data.header_image.file, project.data.header_image.alt, "post__image", 960, 540, "(min-width: 960px) 852px, 90vw", project.data.header_image.crop %}
    </div>
  </div>

  <div class="page-body--outer__project">
    <div class="page-body container container__narrow">
      <h2 class="page-title">{{ project.data.title }}</h2>
      {{ project.templateContent | safe }}
    </div>

  </div>

  {% if project.data.project_gallery %}
    <div class="container container__wide page-gallery">
      {% for image in project.data.project_gallery %}
        <div class="page-gallery--item">
          {% srcset image, 'Project image', "post__image", 300, 300, "(min-width: 1120px) 310px, (min-width: 720px) 25vw, 90vw" %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="container container__wide pagination">
    {% if pagination.previousPageHref %}
      <a class="pagination-item prev" rel="prev" href="{{ pagination.previousPageHref }}">← Previous project</a>
    {% else %}
      <a class="pagination-item prev" rel="prev" href="/">← Back to home</a>
    {% endif %}

    {% if pagination.nextPageHref %}
      <a class="pagination-item next" rel="next" href="{{ pagination.nextPageHref }}">Next project →</a>
    {% else %}
      <a class="pagination-item prev" rel="prev" href="/">Back to home →</a>
    {% endif %}
  </div>


</div>