---
layout: /layouts/base.njk
---
<section class="section-short_page">
  <div class="container container__wide">
    <div class="contact--text">
      {{ content | safe }}
    </div>
    <div class="contact--image">
      {% srcset image.file, image.alt, "post__image", 480, 480, "(min-width: 1162px) 500px, (min-width: 720px) 30vw, 90vw", image.crop %}
    </div>
  </div>
</section>