.site-header {
  > .container {
    margin: 1.5 * $base-spacing auto;
    @media screen and (min-width: $xl-screen) {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin: 2.5 * $base-spacing auto 2 * $base-spacing;
    }
  }
}

.site-title {
  color: $base-font-color;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 0;

  svg {
    display: block;
    margin: 0 auto .4rem;
    width: 15 * $base-spacing;
    height: auto;
    max-height: 85px; // IE11?

    path {
      fill: $base-font-color;
      transition: fill 3 * $base-duration;
    }
  }
  &:hover svg g:first-child path {
    fill: $orange;
    stroke: $orange;
  }
}
