---
layout: /layouts/base.njk
title: Current projects
---
<div class="container">

  {%- for item in collections.work %}
    <section class="project-item">
      <div class="project-item--text">
        <h2 class="project-item--title">{{ item.data.title | safe }}</h2>
        {{ item.templateContent | safe}}
      </div>
      <div class="project-item--image">
        {% srcset item.data.image.file, image.alt, "post__image", 440, 440, "(min-width: 960px) 440px, 90vw", item.data.image.crop %}
      </div>
    </section>
  {% endfor -%}

</div>

